<section id="photo" class="section text-center">
  <div class="flex items-center gap-6 mb-8">
    <hr class="flex-1" />
    <h1 class="title">Galerie Foto</h1>
    <hr class="flex-1" />
  </div>
  <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    <li
      class="shadow rounded-lg h-48 p-4 grid place-items-center place-content-center overflow-hidden"
    >
      <img src="/banner/x512.webp" alt="photo_1" class="h-5/6 object-contain" />
    </li>
    <li
      class="shadow rounded-lg h-48 p-4 grid place-items-center place-content-center overflow-hidden"
    >
      <img
        src="/gallery/photo_1/x512.webp"
        alt="photo_1"
        class="h-5/6 object-contain"
      />
    </li>
    <li
      class="shadow rounded-lg h-48 p-4 grid place-items-center place-content-center overflow-hidden"
    >
      <img
        src="/gallery/photo_2/x512.webp"
        alt="photo_2"
        class="h-5/6 object-contain"
      />
    </li>
    <li
      class="shadow rounded-lg h-48 p-4 grid place-items-center place-content-center overflow-hidden"
    >
      <img
        src="/gallery/photo_3/x512.webp"
        alt="photo_3"
        class="h-5/6 object-contain"
      />
    </li>
  </ul>
</section>
