<section class="my-8 px-4 text-center">
  <div class="flex items-center gap-6 mb-4">
    <hr class="flex-1" />
    <h1 class="text-xl font-bold">Galerie Foto</h1>
    <hr class="flex-1" />
  </div>
  <ul class="flex flex-col gap-4">
    <li
      class="shadow rounded-lg h-48 p-4 grid place-items-center place-content-center overflow-hidden"
    >
      <img
        src="/gallery/photo_1/x512.webp"
        alt="photo_1"
        class="h-5/6 object-contain"
      />
    </li>
    <li
      class="shadow rounded-lg h-48 p-4 grid place-items-center place-content-center overflow-hidden"
    >
      <img
        src="/gallery/photo_2/x512.webp"
        alt="photo_2"
        class="h-5/6 object-contain"
      />
    </li>
    <li
      class="shadow rounded-lg h-48 p-4 grid place-items-center place-content-center overflow-hidden"
    >
      <img
        src="/gallery/photo_3/x512.webp"
        alt="photo_3"
        class="h-5/6 object-contain"
      />
    </li>
  </ul>
</section>
