<footer class="border-t px-4 py-8">
  <p
    class="text-xs md:text-sm lg:text-base xl:text-lg font-semibold text-center"
  >
    Copyright © <time datetime="2023">2023</time> inchiriez-autocar.ro |
    <span class="whitespace-nowrap">
      Powered by
      <a
        href="https://x-trememediaservices.ro/"
        target="_blank"
        class="text-blue-900 font-bold underline whitespace-nowrap"
      >
        X-treme Media Services
      </a>
    </span>
  </p>
</footer>
