---
import NavLink from "./NavLink.astro";
---

<header class="border-b sticky top-0 bg-white bg-opacity-50 backdrop-blur-sm">
  <div
    class="max-w-7xl mx-auto flex flex-col justify-between gap-2 lg:flex-row lg:items-center lg:px-4 lg:py-2 2xl:px-0"
  >
    <a href="/" class="flex items-center gap-4 px-5 pt-2 lg:p-0">
      <img
        src="/logo.webp"
        alt="inchiriez-autocar ofiicial logo"
        class="w-10 h-10 md:w-12 md:h-12 lg:w-16 lg:h-16"
      />
      <h1 class="text-lg font-bold whitespace-nowrap">
        <span class="text-zinc-600">INCHIRIEZ</span>
        <span>-AUTOCAR.RO</span>
      </h1>
    </a>
    <div class="w-full overflow-x-auto pb-4 md:pb-2 lg:p-0 lg:w-min">
      <nav
        class="w-max flex items-center gap-2 mx-4 md:m-0 md:w-full md:justify-center"
      >
        <NavLink to="#home" label="Home" icon="home" active />
        <NavLink to="#services" label="Servicii" icon="briefcase" />
        <NavLink to="#photo" label="Galerie" icon="photograph" />
        <NavLink to="#about" label="Despre Noi" icon="newspaper" />
        <NavLink to="#contact" label="Contact" icon="mail" />
      </nav>
    </div>
  </div>
</header>
