---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<li class="flex-1 border rounded-lg">
  <article class="h-full px-4 py-2 flex flex-col gap-4">
    <h2 class="text-lg font-bold">{title}</h2>
    <p class="flex-1 text-xs font-light">
      {description}
    </p>
    <a
      href="tel:+40760770913"
      class="flex justify-center text-sm font-bold p-2 bg-green-600 border-zinc-600 border-1 text-white rounded-lg"
    >
      CERE OFERTA
    </a>
  </article>
</li>
